h1{
    font-size: 50px;
}
body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
}
#name{
    color: orange;
    font-size: 47px;
}

section{
    display: flex;
    margin-bottom: 100px;
}
.first-half{
    width: 50%;
    padding-left: 5%;
    text-align: justify;
}
.first-half img{
    width: 80%;
}
.hire_me_button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second-half{
    width: 50%;
    padding-right: 10%;
    text-align: justify;

}
.second-half img{
    width: 80%;
    padding-left: 11%;
}
.facebook-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
}
.next-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}